<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/9207/9207483.png" type="image/x-icon">
    <link rel="stylesheet" href="templates/css/style.css">
</head>

<body>
    <nav class="navBar">
        <div class="parent">
            <!-- logo -->
            <a href="/" style="text-decoration: none; color: black;">
                <pre class="logo" style="">
    _             _ _      _         _    __        __   _     
   / \   ___  ___(_|_)    / \   _ __| |_  \ \      / /__| |__  
  / _ \ / __|/ __| | |   / _ \ | '__| __|  \ \ /\ / / _ \ '_ \ 
 / ___ \\__ \ (__| | |  / ___ \| |  | |_    \ V  V /  __/ |_) |
/_/   \_\___/\___|_|_| /_/   \_\_|   \__|    \_/\_/ \___|_.__/ 
</pre>
            </a>
            <!-- profile -->
            <a href="https://github.com/AhmedTalbii/Ascii-Art-Web.git" target="_blank"><img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_960_720.png" alt=""></a>
        </div>
    </nav>
    <form action="/ascii-art" method="POST" class="form">
        <select name="dropDown" class="dropDown" id="dropDown">
            <option class="op" value="standard" {{if eq .SelectedFont "standard" }}selected{{end}}>Standard</option>
            <option class="op" value="shadow" {{if eq .SelectedFont "shadow" }}selected{{end}}>Shadow</option>
            <option class="op" value="thinkertoy" {{if eq .SelectedFont "thinkertoy" }}selected{{end}}>Thinkertoy
            </option>
        </select>
        <div>
            <textarea placeholder="Text Input ..." name="inputText" class="textInput"
                style="resize: none;">{{.Input}}</textarea>
        </div>
        <input type="submit" value="Make The Art" class="changeText">
    </form>
    <textarea placeholder="Art Results ..." value="output" class="output" name="output"
        readonly>{{.AsciiArt}}</textarea>
</body>

</html>